## Random Forest Classifier

In [9]:
import numpy as np
import pandas as pd

In [2]:
df_dtree = pd.read_csv("df_knn.csv")

In [3]:
df_dtree.head()

,market,funding_total_usd,region,city,funding_rounds,Founding_year,first_funding_year,last_funding_year,first_funding_gap,last_funding_gap,first_last_funding_gap,success
0,226,1750000,104,449,1,2012,2012,2012,0,0,0,1
1,309,7000000,51,469,1,2011,2013,2013,2,2,0,0
2,79,2535000,131,569,2,2010,2010,2011,0,1,1,1
3,8,1250000,131,569,2,2011,2011,2011,0,0,0,1
4,79,50000,32,145,1,2009,2009,2009,0,0,0,0

In [4]:
from sklearn.model_selection import train_test_split
x = df_dtree.drop('success', axis = 1)
y = df_dtree['success']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [5]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators = 100)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [8]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.70      0.54      0.61       603
           1       0.70      0.82      0.75       777

    accuracy                           0.70      1380
   macro avg       0.70      0.68      0.68      1380
weighted avg       0.70      0.70      0.69      1380

[[324 279]
 [141 636]]

In [6]:
from sklearn import metrics
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.6956521739130435